---
layout: index
title: jinzhao1994's blogs
---

<div style="width: 8rem; float: right;">
    <h4>#所有标签#</h4>
    <ul style="list-style-type: none; padding-left: 0.5rem;">
        <li>
            <small><a href="{{ site.baseurl }}/">所有文章</a></small>
        </li>
        {% for t in site.tags %}
        <li>
            <small><a href="{{ site.baseurl }}/?tag={{ t[0] }}">{{ t[0] }}</a></small>
        </li>
        {% endfor %}
    </ul>
</div>
<div style="margin-right: 8rem; min-width: 20rem;">
    {{ page.urls.params.tag }}
    <h2 id="index-title">文章列表</h2>
    <table style="font-size: 1rem;">
        {% for post in site.posts %}
        <tr class="index-item">
            <td style="border: none; padding: 0.25rem; width: 1px; white-space: nowrap;">
                <span style="font-size: 0.9rem;">{{ post.date | date: "%Y-%m-%d" }}</span>
            </td>
            <td style="border: none; padding: 0.25rem; width: 100%;">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                <span>&nbsp;</span>
                {% for tag in post.tags %}
                <code style="font-size: 0.7rem;" class="index-item-tag">{{ tag }}</code>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
    function parse_query_string(query) {
        let vars = query.split("&");
        let ans = {};
        for (let i = 0; i < vars.length; i++) {
            let pair = vars[i].split("=");
            let k = decodeURIComponent(pair[0]);
            let v = decodeURIComponent(pair[1]);
            ans[k] = v;
        }
        return ans;
    }

    let params = parse_query_string(window.location.search.substr(1));

    if (params.tag !== undefined) {
        document.getElementById("index-title").innerHTML = "文章列表 - " + params.tag;
        let trs = document.getElementsByClassName("index-item");
        for (let i = 0; i < trs.length; i++) {
            let td = trs[i].children[1];
            let flag = false;
            for (let j = 2; j < td.children.length; j++) {
                if (td.children[j].innerHTML === params.tag) {
                    flag = true;
                    break;
                }
            }
            console.log(params.tag, trs[i], flag);
            if (flag === false) {
                trs[i].setAttribute("hidden", "1");
            }
        }
    }
</script>
