<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        displayAlign: "left",
        displayIndent: "4em",
        tex2jax: {
            inlineMath: [ ['\\(','\\)'] ],
        },
    });


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
            type="text/javascript" async></script>

</head>
<body>

<header class="page-header" role="banner" style="padding: 0.5rem">
    <div style="max-width: 64rem; margin: auto; text-align: left; padding-left: 6rem; padding-right: 6rem;">
        {% if page.collection == 'posts' %}
        <h1><a href="{{ site.baseurl }}/" style="color: #fff;">jinzhao1994's blogs</a></h1>
        {% else %}
        <h1><a href="{{ site.baseurl }}/{{ page.collection }}" style="color: #fff;">
            jinzhao1994's {{ page.collection }}
        </a></h1>
        {% endif %}
    </div>
</header>

<main id="content" class="main-content" role="main">
    <div>
        <h1 style="display: inline">{{ page.title }}</h1> &nbsp;
        <small>创建于: {{ page.date | date: "%Y-%m-%d" }}</small> &nbsp;
    </div>

    {{ content }}

    <div style="margin-top: 2rem">
        <span style="width: 50%; display: inline-block">
            {% if page.previous.url %}
            <a href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            {% endif %}
        </span>
        <span style="width: 49%; display: inline-block; text-align: right">
            {% if page.next.url %}
            <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a>
            {% endif %}
        </span>
    </div>

    <div id="comments-div" style="margin-top: 2rem">
        <div class="just-comments" data-locale="zh_CN" data-apikey="339b7b32-39c3-450f-be7e-fac1b9c443d1"></div>
    </div>

    <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner">
            <a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
            (contains
            {% for c in site.collections %}
            {% if c.label == "posts" %}
            <a href="{{ site.baseurl }}/">posts</a>
            {% else %}
            <a href="{{ site.baseurl }}/{{ c.label }}/">{{ c.label }}</a>
            {% endif %}
            {% endfor %}
            ) is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
        </span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
    </footer>

    <script async src="https://just-comments.com/w.js"></script>
    <script>
        function hideCommentsSign() {
            let a = document.getElementById("comments-div").firstElementChild.firstElementChild;
            if (a == null) {
                setTimeout(hideCommentsSign, 20);
            } else {
                a.lastElementChild.setAttribute('hidden', true);
            }
        }

        hideCommentsSign();
    </script>
</main>

</body>
</html>
